html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;;
    color: #93e1d8;
}

p, h3 {
    color: black;
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #2e2c2f;
}
header img {
    float: left; 
    margin-right: 10px; 
    width: 50px;
}
header h1 {margin: 0; font-size: 1.3rem;}
header h2 {margin: 0; font-weight: normal;font-size: 1rem;}

#logo {
    width: 75px;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #93e1d8;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #475b63;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #6e0d25;
    color: #ff4a1c;
}
nav ul li.active a {
    background-color: #2e2c2f;
    color: #93e1d8;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

main img {
    width: 480px;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #2e2c2f;
    padding: .5rem 2%;
    text-align: center;
    color: #ddfff7;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}