html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
div#pancakes {
    background-color: yellow;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-style: oblique;
    font-weight: 700;
}

body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;;
    color: #93e1d8;
}

p, h3 {
    color: black;
}


div.showme {
    display: block;
}

div.hideme {
    display: none;
}

.textb {
    color: black;
}

.info-grid {
    display: block;
    padding: 0;
    justify-items: center;
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #2e2c2f;
}
header img {
    float: left; 
    margin-right: 10px; 
    width: 50px;
}
header h1 {margin: 0; font-size: 1.3rem;}
header h2 {margin: 0; font-weight: normal;font-size: 1rem;}

#logo {
    width: 75px;
}


/*----------- NAVIGATION --------------*/
nav {
    background-color: #93e1d8;
    margin: 0 auto;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li{
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #475b63;
    font-size: 1rem;
    font-weight: 700;
}

.navigation a:hover {
    background-color: #6e0d25;
    color: #ff4a1c;
}

.navigation .active a {
    background-color: #2e2c2f;
    color: #93e1d8;
}

.responsive li{
    display: block;
}


.weather-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    justify-items: center;
}

.card {
    padding: 0;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
}

.card:hover {
    box-shadow: 10px 10px 10px gray;
}

.grid-image img {
    padding: 0px;
}

.card p {
  padding: 0 2%;
  margin: 1%;
}

#wire {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}

/* Cards */

#cards {
    background-color: white;
    padding: 10px;
    margin: 30px 0px 30px 0px;
    color: black;
    
}

#cards div {
    border: solid 1px #296c6e;
    padding: 1rem;
    margin: 10px;
}

#cards div figure {
    margin: 0;
    width: 100%;
}

#cards div figure img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px #333;
}

#cards div section {
    text-align: center;
    justify-content: center;
    padding: 2%;
}

#cards div section h2 {
    margin: 0;
    text-align: center;
}

#cards div section h3 {
    font-size: 21px;
    text-align: center;
    margin: 0px;
    padding-top: 4px;
}




/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

#townName {
    color: #2e2c2f;
    align-content: center;
}

section#weatherforecast {
    display: grid;
    grid-template-columns: 1fr;
 
    text-align: center;
}
section#weatherforecast div{
    border: 1px solid gray;
    padding: 2%;
}

section#weatherforecast span{
    border: 1px solid gray;
    display: block;
    background-color: #475b63;
    padding: 2%;
}
.wsummaryparent {
    position: relative;
    
}

.wsummarychild {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0,0,0, 0.75);
    padding-right: 4%;
}

.wsummarychild p {
    color: #93e1d8;
    text-align: center;
    
}

.wsummarychild ul{
    list-style: none;
    text-align: center;
    
}

.heroimg {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.bodybox {
    background-color: rgba(147, 255, 216, .5);
    padding: 10px;
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: pre-line;
    border: 1px solid rgba(0,0,0, 0.75);
}

.bimg1 {
    width: 400px;
    height: auto;
    padding: 10px;
}

#weatherforecast {
	max-width: 600px;
    margin: .5rem auto;
	border:1px solid #bbb;
    background-color: #eee;
	display: flex;
	flex-wrap: wrap;
}

#cards {
    
    flex-direction: row;
    padding: 2%;
}

article:nth-child(odd) {
	flex-direction: row-reverse;
}

.himage {
    border:1px solid #2e2c2f;
    width: 100%;
    height: auto;
}
.data {
    background-color:rgba(147, 255, 216, .5);
    color:#fff;
    padding: 2%;
    color:rgba(0,0,0, 0.75);
}

#header2 {
    color:rgba(0,0,0, 0.75);
    padding-left: 2%;
}

#fish {
    color: black;
}

.event-container {
    background-color: #93e1d8;
    
    border:rgba(0,0,0, 0.75) solid 2px;
    margin: auto;
    width: 50%;
    
}

.event-container div {
    margin: 2%;
    text-align: center;
    
}

/*----------- FOOTER --------------*/
footer {
    background-color: #2e2c2f;
    padding: .5rem 2%;
    text-align: center;
    color: #ddfff7;
    
}




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


