/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 75rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

    .headerwrapper{
        background-color: #2e2c2f;
    }

    .navwrapper {
        background-color: #93e1d8;
    }

    .footerwrapper {
        background-color: #2e2c2f;
    }

    .weather-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    section#weatherforecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul li {flex-basis: auto;}
    nav ul li a {padding: .5rem 1rem;}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
} /* end of media query */