

img {
    border: 1px solid #333;
    padding: 2px;
    filter: blur(0em);
    transition: filter 0.5s;
}

body {
    font-family: 'Noto Serif', serif;
}

html {
    line-height: 1.15;
    color: -internal -root-color;
}